:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #a9a9a9;
  --dark-blue: #64809b;
  --light-blue: #9bc6f0;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/* NAV */
/*  */
nav {
  position: fixed;
  z-index: 1818;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .nav-container {
    margin: 8px;

    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;

      li {
        list-style: none;

        a {
          text-decoration: none;
          letter-spacing: 2px;
          color: var(--white);
          font-weight: bold;
          text-shadow: 1px 1px var(--black), -1px -1px var(--black),
            1px -1px var(--black), -1px 1px var(--black);

          img {
            border-radius: 4px;
            border: 1px solid var(--black);
          }
        }
      }
    }
  }
}
/*  */
/* ALL */
/*  */
.section {
  min-height: 100vh;
  /* background-color: var(--black); */
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(
      #d0d0d0 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(#d0d0d0 0.7000000000000001px, #000000 0.7000000000000001px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
}
/*  */
/* MAIN */
/*  */
.section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .main-left {
    img {
      box-shadow: var(--black) -28px 28px 0px -2px, var(--white) -28px 28px;
    }
  }
  .main-right {
    max-width: 420px;
    color: var(--white);

    .main-right-top {
      p {
        font-size: 50px;
        letter-spacing: 8px;
        line-height: 58px;
        font-weight: bold;
      }
    }
    .main-right-bot {
      p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: justify;
      }
    }
  }
}
/*  */
/* MEMBERS */
/*  */
.section-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.member-title {
  p {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: bold;
    color: var(--white);
  }
}
.member-members {
  display: flex;
  gap: 20px;
}
.member-container {
  background-color: transparent;
  width: 300px;
  height: 418.99px;
  perspective: 1000px;
}
.member-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.member-container:hover .member-inner {
  transform: rotateY(180deg);
}
.member-front,
.member-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.member-front {
  background-color: var(--white);
  color: var(--black);
  border-radius: 12px;
}
.member-back {
  background-color: var(--white);
  color: var(--black);
  transform: rotateY(180deg);
  border-radius: 12px;
}
.member-back-inner {
  height: 90%;
  margin: 18px;
  display: flex;
  flex-direction: column;

  .member-nickname {
    p {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .member-position {
    margin-bottom: 18px;
    p {
      font-size: 18px;
    }
  }
  .member-specialty {
    margin-bottom: 12px;
    p {
      font-size: 20px;
    }
  }
  .member-quote {
    /* margin-bottom: 10px; */
    p {
      font-size: 20px;
    }
  }
  .member-sosmed {
    margin-top: auto;
    a {
      font-size: 18px;
      color: var(--black);
      text-decoration: none;
    }
  }
}
/*  */
/* CTFS */
/*  */
.section-ctfs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ctfs-title {
  font-size: 50px;
  letter-spacing: 8px;
  font-weight: bold;
  color: var(--white);
}
.ctfs-container {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .ctfs-container-group {
    display: flex;
    gap: 35px;
    border: 1px solid var(--white);
    animation: carousel 18s infinite linear;
    padding-right: 35px;

    .ctfs-list {
      width: 300px;
      height: 420px;
      border: solid 1px var(--white);
    }
  }
}
@keyframes carousel {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
/*  */
/* FOOTER */
/*  */
footer {
  /* height: 60px; */
  /* background-color: #303030; */
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-inside {
    padding: 28px 0 38px 0;
    width: 80%;
    /* border-top: 2px solid #383838; */
    color: #a9a9a9;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
    }
  }
}
